
<mat-toolbar color="primary">
  <mat-toolbar-row class="custom-nav">
    <span> <a [routerLink]="['home']" class="">Home</a></span>
    <span class="example-spacer"></span>
    <span><a [routerLink]="['control-panel']" class="">Content Panel</a></span>
    <span class="example-spacer"></span>
    
  
    <span><a [routerLink]="['sample-comp']" class="">sample component</a></span>
    <span class="example-spacer"></span>
    
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

